#common
.env

# Backend
historical-timeline/target/

historical-timeline/.env
historical-timeline/*.iml
historical-timeline/.idea/

# Frontend
timeline-front/node_modules/
timeline-front/.next/
timeline-front/out/
timeline-front/build/
timeline-front/.DS_Store
timeline-front/*.pem
timeline-front/.env.local
timeline-front/.env.development.local
timeline-front/.env.test.local
timeline-front/.env.production.local
timeline-front/npm-debug.log*
timeline-front/yarn-debug.log*
timeline-front/yarn-error.log*